.react-calendar {
    border: none;
    font-family: inherit;
    background-color: #171717;
    color: #fff;    
    border-radius: 12px;
    padding: 1rem;
  }
  
  .react-calendar__tile--now {
    background: #3b82f6 !important;
    color: black !important;
    border-radius: 50%;
  }


.dark .react-calendar {
  background-color: transparent;
  color: white;
}

.react-calendar__tile--now {
  background: rgba(59, 130, 246, 0.2);
}

.react-calendar__tile--active {
  background: rgba(59, 130, 246, 0.4);
  color: white;
}

  